body{

  margin:0px;
}

div.up{
  background-image: url("../core/assets/banner-top.jpg");
  height:500px;

}

div.upleft{
  float: left;
}

div.upright{
  float:right;

}
div.cleardiv{
  clear:both;
}
div.middle1{
  position: relative;
  background-color: white;
  height:200px;
}
div.middle2{
  position: relative;
  background-color: white;
  height:200px;

}
 div.middle3{
   position: relative;
   background-image: url("../core/assets/stars-bg.jpg");
   height:400px;

 }
div.middle4{
  position: relative;
background-color: white;
height:100px;

}

div.down{
  position: relative;
  background-color: white;
  height:600px;

}

div.lastdiv{
  position: relative;
  background-color: #E5E5E5;
  height:600px;

}
 div.mleft{
      position: relative;
      float:left;
   margin-left: 200px;
 }
 div.mmid{
   position:relative;
   float:left;
   margin-left: 400px;
 }

 div.mright{
   position:relative;
   float:left;
   margin-left: 400px;
 }

h1.home{
  margin-left: 300px;
  color: white;
}
h1.mid4{
  margin-left: 700px;
}
#logo{
  display: block;
  margin-left: 300px;
}

#par1{
  margin-left: 45px;
  font-size: large;
  color:white;
}
#par2{
  margin-left: 0px;
  font-size: medium;
  color:#B0B0B0;
}

a{
  color:white;
  font-size: small;
}

#tnw{
  display: inline-block;
  margin-left: 300px;
}
#forbes{
  display: inline-block;
margin-left:20px;
}
#ng{
  display: inline-block;
  margin-left: 20px;
}
#finex{
  display: inline-block;
  margin-left:20px;
}

p.pargalaxy{
  position:absolute;
  margin-left: 700px;
  margin-top: 250px;
  color:white;
  font-size: large;

  }

h2.headgalaxy{
  position:absolute;
  margin-left: 900px;
  margin-top: 70px;
  color:white;
}
#home{
  background-color: #63D1F4;
  text-align: center;
  font-size: large;
  color: white;
  border:blue;
  width:15em;
  height: 3em;
  margin-left: 700px;
  margin-top: 100px;
  margin-bottom: 50px;
  -webkit-border-radius: 7px;
}
#hm1{
  position: absolute;
  margin-left:700px;
  margin-top: 50px;
}
#pm1{
  position: absolute;
  margin-left:750px;
  margin-top: 100px;
  font-size: large;
}

#music{
  position:absolute;
  top:140px;
  left: 800px;

}

#phone{
  position:absolute;
  top:100px;
  left: 400px;

}

#weather{
  position:absolute;
  top:40px;
  left: 1200px;

}

#photo{
  position:absolute;
  top:5px;
  left: 600px;

}

#mail{
  position:absolute;
  top:200px;
  left: 600px;

}

#location{
  position:absolute;
  top:200px;
  left: 1000px;

}

#time{
  position:absolute;
  top:300px;
  left: 1300px;
}
table{
  border-collapse:  collapse;
  width:50%;
  margin-left: 400px;
  background-color: #E5E5FF;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;

}
table,th,td {
  border: 3px solid #63D1F4;

}

tr{
  height: 50px;
}

#devices{
  float: right;
}

#logogray{
  position:absolute;
  top:100px;
  left: 200px;
}

#appstore{
  position:absolute;
  top:400px;
  left: 200px;
}
#googlestore{
  position:absolute;
  top:400px;
  left: 400px;
}

#lasth2{
  position:absolute;
  top:200px;
  left: 200px;
}

#lastp{
  position:absolute;
  top:500px;
  left: 200px;
}
