 <html>
  <head>
        <script src="http://backbonejs.org/test/vendor/underscore.js"></script>
        <script src="http://backbonejs.org/test/vendor/jquery.js"></script>
        <script src="http://backbonejs.org/docs/js/jquery.lazyload.js"></script>
        <script src="http://backbonejs.org/backbone.js"></script>
        <script type="text/javascript" src="jquery-1.12.2.min.js"></script>
        <!-- <script type="text/javascript" src="./Song/music.js"></script>
        <script type="text/javascript" src="Song/SongListItemView.js"></script>
        <script type="text/javascript" src="Song/SongModel.js"></script>
        <script type="text/javascript" src="Song/SongCollection.js"></script>
        <script type="text/javascript" src="Song/SongListView.js"></script> -->
        <script type="text/javascript" src="../build/bundle.js"></script>
  </head>
  <body>
    <div id="playlist1">
      <div>
        <img src="../core/assets/up-all-night-small.png">
      </div>
      <div>
        <p >Playing from:</p>
        <h3>Up all night: The remixes radio</h3>
      </div>

      <table >
            <tr>
              <th>SONG </th>
              <th>LENGTH </th>
              <th>LISTENED</th>
            </tr>
      </table>
      <script type="text/template" id="song-list-view">
        <img src=<%= image %> />
        <span class="name"><%= name %></span>
        <span class="songAuthor"><%= songAuthor %></span>
        <span class="songLength"><%= songLength %></span>
        <span class="songListened"><%= songListened %></span>
      </script>

      <div id="songs">
      </div>
    </div>

    <script>

    </script>

  </body>
  </html>
