body {
  margin-left: auto;
  margin-right: auto;
  width: 480px;
  padding: 10px;
  background-image: url("images/banner-top.jpg");
  font-family: Arial, Helvetica, sans-serif;

    }
  div{
    background-color: white;
    width: 75%;
  }
  img{
      display: block;
      margin-left: auto;
      margin-right: auto;

    }

  h2{
    text-align: center;

  }

  p{
    text-align: center;
    font-size: large;

  }


input{
  background-color: #F5F5F5;
  color: black;
  width:300px;
  margin-left:20px;

}

span{
  margin-left: 20px;

}

button{
  background-color: #63D1F4;
  text-align: center;
  float:right;
  color: white;
  border:blue;
  width:10em;
  height: 2em;
  margin-right: 35px;

}
