div.upright {
  float:right;
  margin-right: 20%;
  width: 500px;
  padding: 30px;
  font-family: Arial, Helvetica, sans-serif;

    }

  div.reg{
    background-color: white;
    width: 75%;
    margin-left: 20px;
    -webkit-border-radius: 7px;
    box-shadow: 0px 3px 3px #000000;
  }

h2.reg{
  text-align: center;

}

h3.reg{
  text-align: center;
  color:#808080;
}

h4.reg{
  text-align: center;
  color:#B0B0B0;
}
span{
  margin-left: 30px;

}

input{
  background-color: #F5F5F5;
  color: black;
  width:300px;
  height:20px;
  margin-left:30px;
  -webkit-border-radius: 5px;
}

p{
  text-align: center;
  font-size: small;
  color:#B0B0B0;

}


button.reg{
  background-color: #63D1F4;
  text-align: center;
  font-size: large;
  color: white;
  border:blue;
  width:15em;
  height: 3em;
  margin-left: 50px;
  -webkit-border-radius: 5px;
  box-shadow: 0px 3px 3px #000000;


}
#preg{
  margin-left: 30px; 
}
